@{
    ViewBag.Title = "About";
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div >
    <div class="row">

        <div class="col-lg-4">
            <p>mostafa khlaed thabet </p>

        </div>

       

        <div class="col-lg-4 glyphicon glyphicon-envelope">
            <p>major : computer inforamtion systms</p>

        </div>

        <div class="col-lg-4">

            <p> <a href="//www.google.com">Email :</a></p>
        </div>

    </div>

</div>
<p>Use this area to provide additional information.</p>
